boto3==1.39.13
celery==5.5.3
chromadb==1.0.15
Django==5.2.4
django-debug-toolbar==6.0.0
django_celery_results==2.6.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
django-storages==1.14.6
gunicorn==23.0.0
huggingface-hub==0.34.2
langchain==0.3.27
langchain-chroma==0.2.5
langchain-community==0.3.27
langchain-core==0.3.72
langchain-huggingface==0.3.1
langchain-openai==0.3.28
langgraph==0.6.0
langgraph-prebuilt==0.6.0
langsmith==0.4.8
openai==1.99.5
pillow==11.3.0
psycopg2==2.9.10
pydantic==2.11.7
PyJWT==2.10.1
PyMuPDF==1.26.3
pypdf==5.9.0
pytest==8.4.1
pytest-django==4.11.1
python-docx==1.2.0
python-dotenv==1.1.1
python-pptx==1.0.2
PyYAML==6.0.2
redis==6.2.0
sentence-transformers==5.0.0
tavily-python==0.7.10
whisper==1.1.10
whitenoise==6.9.0
weaviate-client==4.16.6


